<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213542346814-4up9sl08i6oenqsv90n6uf8k1fh0koim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213542346814-4up9sl08i6oenqsv90n6uf8k1fh0koim</string>
	<key>API_KEY</key>
	<string>AIzaSyAzFAzz76SZDg7M9RORw3Gqpmixg2Xzroc</string>
	<key>GCM_SENDER_ID</key>
	<string>213542346814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCoupounParking</string>
	<key>PROJECT_ID</key>
	<string>e-coupoun-parking</string>
	<key>STORAGE_BUCKET</key>
	<string>e-coupoun-parking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213542346814:ios:5e332bd88c7110b393b16f</string>
</dict>
</plist>